################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SolmileAPI/FileContentIndex/198df271-c881-453a-917f-9c491a116950.vsidx
